.react-sharing-button--facebook {
  background-color: #3b5998;
}

.react-sharing-button--facebook:hover {
  background-color: #2d4373;
}
.pos_detail {
  display: "flex";
  justify-content: space-around;
}
.detail_generale {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  /* border: 1px solid red;*/
}
.pos {
  display: flex;
  justify-content: space-evenly;
}
.titre {
  font-weight: bold;
  font-size: xx-large;
  margin-left: 100px !important;
}
.img-detail {
  width: 300px;
  height: 300px;
  margin-left: 200px;
}
.detail {
  margin-left: -100px;
  color: black;
}
.pos_reaction {
  display: flex;
  justify-content: space-evenly;
}
.react-imog {
  margin-left: 90px;
}
.icone_imog {
  margin-left: 10px;
  background-color: transparent;
  border-radius: 5px;
}
