.picture_slide {
  width: 100%;
  height: 400px;
}

.flexselect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.pos_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  /*box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, 0.2);*/
  margin-left: 30px;
}
/*.carrousel_style {
  height: 200px;
}*/
.image-slider {
  height: 600px;
  width: 100%;
}
.input-search {
  border-radius: 5px;
  border: 1px solid gray;
  background-color: transparent;
}
.option_region {
  height: 30px;
  border: 1px solid gray;
  background-color: transparent;
}
.image_card {
  width: 100%;
}
.card-style {
  width: 300px;
}
.button-detail {
  background-color: red;
}
.image-card {
  height: 200px;
  width: 90px;
}
