.container {
  color: black;
  /* background-image: url("https://www.teskerti.tn/img/teskerti-www/background-teskerti-1366-x-768px.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;*/
}
.pos_modal {
  display: flex;
  justify-content: space-around;
}
.detail_evenement {
  margin-left: 10px;
}

.modal-open {
  overflow: scroll;
}
.buton_action {
  height: 90px;
}
.pos-Action {
  display: flex;
  justify-content: center;
}
.pos_conexion {
  margin-left: 30px;
}
.bg-register {
  background-image: url(https://image.freepik.com/photos-gratuite/petite-fille-dessin-coloriage_53876-20438.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
  margin-top: -10px;

  height: 300px;

  width: 100%;
}
.grid {
  justify-content: space-between;
  background-color: black;
  padding: 25px;
  margin-top: -200px;
  margin-left: 300px;
  height: 100px;
  width: 500px;

  opacity: 0.9;
}
.lien-profesionnel {
  color: white;
  text-decoration: none;
}
.lien-profesionnel:hover {
  color: black;
  text-decoration: none;
}
.this {
  font-size: 18px;

  line-height: 24px;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.header_modal {
  color: black;
}
.but-register {
  border-radius: 10px;
  border: 1px solid black;
  color: black;

  background-image: linear-gradient(90deg, rgb(168, 47, 47), rgb(41, 129, 145));
}
/*card*/
.head_card {
  background-color: rgba(3, 169, 244, 0.7);
  display: flex;
  flex-direction: column;
}
.card-img-top {
  margin-top: 10px;
  height: 100px;
}
.card {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
/*carrousel*/

.carrousel_side {
  width: 100%;
  height: 400px;
}

/* navbar*/
.navbar .nav-item .nav-link {
  display: block;
  margin-top: 24px;
}
.item_nav {
  margin-top: 200px;
  color: #5e616a;
  font-weight: bold;
}
.pos_btn_menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.color {
  color: black;
} /*partie filter in page acceuil*/
/*.flexselect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -144px !important;
}*/
/*btn style*/
.btn_menu {
  margin-bottom: 20px !important;
  background-color: #e8aa8c !important;
  color: #5e616a !important;
  font-weight: bold !important;
}
.btn_menu1 {
  margin-top: 30px !important;
  background-color: #e8aa8c !important;
  color: #5e616a !important;
  font-weight: bold !important;
}
.btn-color_sup-intern {
  color: black;

  /* border-radius: 10px !important;*/
  /*background-color: #e8aa8c !important;*/

  margin-left: 10px;
}
.btn-color {
  color: black;
  margin-top: 40px !important;
  margin-left: 400px !important;
  margin-bottom: 50px !important;
  /* border-radius: 10px !important;*/
  background-color: #e8aa8c !important;

  margin-left: 10px;
}
.btn-color_inter_tableau {
  color: black;

  /* border-radius: 10px !important;*/
  background-color: #e8aa8c !important;

  margin-left: 10px;
}
/*tabele css*/
.th-table {
  background-color: #e8aa8c !important ;
  text-align: center !important;
}
.Table-HeaderCell {
  width: 500px !important;
}
.disabled {
  display: none;
  opacity: 0;
  width: 0px;
}
.display-card {
  display: flex;
  justify-content: space-around;
}
.detail {
  width: 170px !important;
  height: 30px !important;
  text-align: center !important;
  align-items: center !important;
}
/*** footer*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(
    to right,
    rgba(3, 169, 244, 0.7),
    rgba(50, 143, 197, 0)
  );
  height: 200px;
  width: 100%;

  flex-wrap: nowrap;

  background-color: white;
  margin-bottom: 5px;
}

/***modal conexion*/
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: black;
}

.contact {
  height: 100vh;
}

/*rating*/
input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 200ms;
}
/*modal conecte*/
.bienveneu-h2 {
  margin-top: -55px;
  font-size: 50px;
  font-weight: bold;
  color: #5e616a;
  text-align: start;
  margin-left: 170px;
  margin-bottom: 40px;
}
.modal-conecte {
  margin-top: 20px;
}
/*Card */
.pos-card-map {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.img-card {
  width: 300px;
  height: 150px;
}
.titre-card {
  color: #5e616a;
  font-size: x-large;
}
.lien-detail {
  margin-left: 30px;
  color: white;
}
.lien-detail:hover {
  margin-left: 30px;
  color: pink;
}

.div-vide {
  background-color: white;
  height: 50px;
}
/*end */
