.App {
  color: black;
  /* background-image: linear-gradient(
    60deg,
    rgb(92, 92, 114),
    rgb(201, 130, 130)
  );*/

  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.pos_modal {
  display: flex;
  justify-content: space-around;
}
.detail_evenement {
  margin-left: 10px;
}

.modal-open {
  overflow: scroll;
}
.buton_action {
  height: 90px;
}
.pos-Action {
  display: flex;
  justify-content: center;
}
.pos_conexion {
  margin-left: 30px;
}
.bg-register {
  background-image: url(https://image.freepik.com/photos-gratuite/petite-fille-dessin-coloriage_53876-20438.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
  margin-top: -10px;

  height: 300px;

  width: 100%;
}
.grid {
  justify-content: space-between;
  background-color: black;
  padding: 25px;
  margin-top: -200px;
  margin-left: 300px;
  height: 100px;
  width: 500px;

  opacity: 0.9;
}
.lien-profesionnel {
  color: white;
  text-decoration: none;
}
.lien-profesionnel:hover {
  color: black;
  text-decoration: none;
}
.this {
  font-size: 18px;

  line-height: 24px;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.header_modal {
  color: black;
}
.but-register {
  border-radius: 10px;
  border: 1px solid black;
  color: black;

  background-image: linear-gradient(90deg, rgb(168, 47, 47), rgb(41, 129, 145));
}
.carrousel_margi {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.pos_btn_menu {
  display: flex;
  justify-content: space-between;
}
.btn-color {
  color: black;
  border-radius: 10px;
  background-color: #1b4e99;
  background-image: linear-gradient(90deg, #1b4e99, rgb(41, 129, 145));

  margin-left: 10px;
}
.disabled {
  pointer-events: none;
}
/*** footer*/
.footer {
  background-color: rgb(43, 38, 38);
}

/***modal conexion*/
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: black;
}

.contact {
  height: 100vh;
}
