.menus {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 60px;
  width: 100%;

  flex-wrap: nowrap;

  background-color: white;
  margin-bottom: 5px;
}
.menus:hover {
  box-shadow: 10px 5px 5px gray;
}
.menu_NavItem {
  color: red;
}
.menu_NavItem :hover {
  text-decoration: none;
  color: gray;
}
.menu_NavItem:active {
  text-decoration: dotted;
}
.img-lg {
  height: 50px;
  border-radius: 50%;
}

.menu {
  color: black;
  height: 60px;
}
.bienvenu {
  margin-top: 60px;
  margin-left: 170px;
  margin-right: 170px;
}
.bienveneu-h1 {
  font-size: 50px;
  font-weight: bold;
  color: #5e616a;
  text-align: satart;
  margin-left: 10px;
  margin-bottom: 80px;
}
.bienveneu-p {
  text-align: center;
  margin-bottom: 130px;
  font-size: 22px;
}
