.menus {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(
    to right,
    rgba(3, 169, 244, 0.7),
    rgba(50, 143, 197, 0)
  );
  height: 60px;
  width: 100%;

  flex-wrap: nowrap;

  background-color: white;
  margin-bottom: 5px;
}
.menus:hover {
  box-shadow: 10px 5px 5px gray;
}
.menu_NavItem {
  color: red;
}
.menu_NavItem :hover {
  text-decoration: none;
  color: gray;
}
.menu_NavItem:active {
  text-decoration: dotted;
}
.img-lg {
  height: 50px;
}

.menu {
  color: black;
  height: 60px;
}
